*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* INICIO ENCABEZADO */
#baner{
    display: flex;
    margin: 13px 0 ;
    align-items: center;
}
 #baner #menu{
    display: flex;
    list-style: none;
}
#menu{
    width: 27%;
    list-style: none;
}
#menu li a{
    text-decoration: none;
    color: rgb(155, 153, 153);
}
#btnmenu{
    border-radius: 25px;
    padding: 13px 25px;
    background-color:rgb(0, 194, 194);
    border: none;
    color: azure;
    font-weight:700;
}
#menu li a:hover{
  color: rgb(65, 64, 64);
  margin: 0 3px;
}
#btnmenu:hover{
    background-color: rgb(118, 247, 247);
}
/* INICIO CENTRO */
#cabeza{
    background-color:rgb(250, 250, 250);
    padding: 150px 0;
    background-image:url(../images/image-mockups.png),url(../images/bg-intro-desktop.svg);
    background-position: top -120px right -130px , top -250px right -350px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    overflow: hidden;
}
#centro{
    background-image: url(../images/image-mockups.png);
    background-position:top -720px right -130px;
    background-repeat: no-repeat;
}
#cabeza #texto h1{
    color: rgb(24, 53, 58);
   font-size: 55px;
   font-weight: 100;
   
}
#cabeza #texto p{
    color: rgb(120, 120, 120);
    margin: 30px 0;
    
}
#cabeza #texto{
    margin-left: 150px;
}
#btncontent{
    border-radius: 25px;
    padding: 13px 25px;
    background-color:rgb(0, 194, 194);
    border: none;
    color: azure;
    font-weight:700;
}
#btncontent:hover{
    background-color: rgb(118, 247, 247);
}
#content #centro{
    background-color:rgb(245, 245, 245);
    padding: 90px 150px ;
}
#superior h1{
    color: rgb(24, 53, 58);
    font-weight: 100;
}
#superior p{
    color: rgb(120, 120, 120);
    margin: 30px 0;
    line-height: 25px;
}
#centro #cent{
    display: flex;
}
#cent #text h2{
    color: rgb(24, 53, 58);
    font-weight: 100;
    margin: 30px 0;
}
#cent #text p{
    color: rgb(120, 120, 120);
    margin-right: 40px;
    line-height: 25px;
}
#content #bajo{
    background-color:rgb(250, 250, 250);
    padding: 90px 150px;
}
#bajo h1{
    color: rgb(24, 53, 58);
    font-weight: 100;
    margin-bottom: 55px;
}
#bajo #infe{
    display: flex;
}
#infe .card{
    margin-right: 30px;
    background-color: white;
    width: 50%;
    overflow: hidden;
}
.card #img img {
    width: 100%;
    border-radius: 10px;
}
#tx #pr{
    margin: 20px ;
    color: rgb(120, 120, 120);
    font-size: 10px;
}
#tx h3 a{
    text-decoration: none;
    color: rgb(107, 106, 106);
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}
#tx h3 a:hover{
    color:rgb(0, 194, 194) ;
}
#tx h3{
    margin: 0 20px;
}
#tx p{
    margin: 20px ;
    color: rgb(120, 120, 120);
    font-size: 14px;
    line-height: 20px;
}
#container footer{
    background-color: rgb(26, 26, 83);
}
/* INICIO FOOTER */
footer{
    display: flex;
}
footer #izquierda{
    margin: 40px 150px;
}
#izquierda #logo{
    margin-bottom: 50px;
}
#izquierda #img-foter:hover{
    color: aqua;
}
footer #mitad{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 40px;
}
#mitad li a {
    margin-right:80px;
    text-decoration: none;
    line-height: 35px;
    color: rgb(172, 172, 172);
}
#mitad :hover{
    color: rgb(0, 194, 194);
}
footer #derecha{
    margin-top:40px ;
    margin-bottom: 40px;
    margin-right: 200px;
}
footer #derecha p{
    color: rgb(172, 172, 172);
}
#rect button{
    border-radius: 25px;
    padding: 13px 25px;
    background-color:rgb(0, 194, 194);
    border: none;
    color: azure;
    font-weight:700;
    margin-bottom: 30px;
}
#derecha button:hover{
    background-color: rgb(118, 247, 247);
} 
#hamburguer,#close{
    display: none;
}
@media (max-width:500px){
    #hamburguer,#close{
        display: block;
        position: absolute;
        top: 14px;
        right: 10%;
    }
    #close{
        display: none;
        z-index: 20;
    }
    #baner #menu{
        display: none;
        background-color: white;
        border-radius: 2%;
        line-height: 200%;
        position: absolute;
        top:14%;
        right: 5%;
        flex-direction: column;
        padding: 40px 0;
        width: 90%;
    }
    #baner #logo{
        margin-left: 7%;
    }
    #btnmenu{
        display: none;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    #centro #cent, #bajo #infe{
        flex-direction: column;
    }
    #content #cabeza,
    #content #centro,
    #content #bajo{
        width: 100%;
        padding:0;
        padding-top: 30px;
    }
    #centro #cent,
    #centro #superior{
        width: 90%;
        padding-bottom: 30px;
    }
    #bajo .card{
        margin: auto;
        width: 90%;
    }
    #bajo h1{
        margin-left: 30px;
    }
    #cabeza #texto{
        margin: 0 auto;
        width: 90%;
        margin-bottom: 70px;
        margin-top: 800px;
    }
    #centro{
        background-image: url(/images/image-mockups.png.),none;
    }
}
@media (max-width:1300px){
    footer #izquierda,
    footer #mitad,
    footer #derecha{
        margin:12px auto;
        padding: 0 ;
    }
    footer #izquierda{
        margin-top: 50px;
    }
    footer #derecha{
        padding-bottom: 50px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mitad {
        margin: 0 auto;
        padding: 0 auto;
        flex-direction: column;
    }
}